@import 'variables';
//------------------------------
// Default styles
//------------------------------
body{
	font-family: 'Roboto-Regular';
	background-color: $main-bg-color;
	color: $main-text-color;
}
