//------------------------------
// Imports
//------------------------------
@import 'reset';
@import 'default';
@import 'animations';
@import 'variables';

//------------------------------
//
//------------------------------
.section {
	@extend .center;
	margin-top: 50px;
}

// Home Page
.home{
	&__text{
		padding: 20px;
		@media screen and (min-width: 768px){
			padding: 60px;
		}

	}

	&__check-weather{
		position: relative;
		bottom: 6px;
		padding: 10px 15px;
		transition: bottom 0.2s;

		border: none;
		border-radius: 5px;
		outline: none;

		background-color: $main-text-color;

		color: #434343;
		font-size: 1.1rem;
		box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.50);

		&:hover{
			bottom: 4px;
		}
	}
}

// Locating
.locating{
	padding-top: 150px;

	&__text{
		color: #FFF;
		font-size: 1.6rem;

		& .dot{
			font-size: 30px;
			animation-name: blink;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-fill-mode: both;
		}

		& .dot:nth-child(2){
			animation-delay: 0.2s;
		}

		& .dot:nth-child(3){
			animation-delay: 0.4s;
		}
	}

	&__icon{
		width: 61.45px;

		& path{
			fill: $main-text-color;
		}
	}
}

// Weather app
.weather{
	max-width: 300px;
	margin: 150px auto;
	padding: 30px 10px;

	border-radius: 5px;

	background-color: $main-text-color;

	color: #000;
	font-weight: 100;

	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.50);

	&__city{
		font-size: 1rem;
		font-weight: inherit;
		letter-spacing: 0.2px;

		&:hover{
			color: lighten(#000, 40%);
		}
	}

	&__phrase{
		padding: 20px;

		font-style: italic;
		font-weight: 300;
	}
}

.weather-resume{
	padding: 0 70px;

	&__icon{
		float: right;

		font-size: 30px;
	}
}

.temperature{
	padding-top: 2px;
	float: left;

	font-family: Roboto-Light;
	font-size: 23px;
	letter-spacing: 0;

	&_high{
		color: #D7360A;

		& .temperature__scale:hover{
			color: darken(#D7360A, 15%);
			cursor: pointer;
		}
	}

	&_low{
		color: #4A90E2;

		& .temperature__scale:hover{
			color: darken(#4A90E2, 15%);;
			cursor: pointer;
		}
	}

	&>span{
		float: left;
	}
}
