//------------------------------
// Variables
//------------------------------
.center{
	text-align: center;
}
.margin-center{
	margin: 0 auto;
}
.clear-fix{
	clear: both;
}
.hide{
	display: none;
}
.block{
	display: block;
}
//------------------------------
// Colour Variables
//------------------------------
$main-text-color: #FFF;
$main-bg-color: #4A90E2;

//------------------------------
// URLS Variables
//------------------------------
$img: "../img";
