.center {
  text-align: center; }

.margin-center {
  margin: 0 auto; }

.clear-fix {
  clear: both; }

.hide {
  display: none; }

.block {
  display: block; }

body {
  font-family: 'Roboto-Regular';
  background-color: #4A90E2;
  color: #FFF; }
