* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul > li {
  display: inline-block;
}
body {
  font-family: 'Roboto-Regular';
  background-color: #4A90E2;
  color: #FFF;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.center {
  text-align: center;
}
.margin-center {
  margin: 0 auto;
}
.clear-fix {
  clear: both;
}
.section {
  margin-top: 150px;
  text-align: center;
}
/* Initial State */
.locating,
.weather {
  display: none;
}
/* Home Page */
.home__text {
  padding: 60px;
}
.home__check-weather {
  border: none;
  background-color: #FFF;
  padding: 10px 15px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
  color: #434343;
  outline: none;
  position: relative;
  bottom: 6px;
  transition: bottom 0.2s;
}
.home__check-weather:hover {
  bottom: 4px;
}
/* Locating */
.locating__text {
  font-size: 24px;
  color: #FFF;
}
.locating__text .dot {
  font-size: 30px;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.locating__text .dot:nth-child(2) {
  animation-delay: .2s;
}
.locating__text .dot:nth-child(3) {
  animation-delay: .4s;
}
.locating__icon {
  width: 61.45px;
}
.locating__icon path {
  fill: #FFF;
}
/* Weather app */
.weather {
  background-color: #FFF;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 300px;
  margin: 150px auto;
  padding: 30px 40px;
  font-weight: 100;
  color: #000;
}
.weather__city {
  font-size: 18px;
  font-style: none;
  font-weight: inherit;
  letter-spacing: 0.2px;
}
.weather__city:hover {
  color: #666666;
}
.weather__conditions {
  padding-top: 10px;
  padding-bottom: 10px;
}
.weather-resume {
  padding: 30px 40px;
  padding-bottom: 0;
}
.weather-resume__icon {
  font-size: 30px;
  float: right;
}
.temperature {
  font-family: Roboto-Light;
  font-size: 23px;
  color: #D7360A;
  letter-spacing: 0px;
  float: left;
  padding-top: 5px;
}
.temperature > span {
  float: left;
}
.temperature__scale:hover {
  color: #4A90E2;
  cursor: pointer;
}
