* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.67rem; }

strong {
  font-weight: bold; }

a,
button {
  transition: 0.3s;
  color: inherit; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  overflow: visible;
  -webkit-font-smoothing: inherit; }

::-moz-focus-inner {
  padding: 0;
  border: none; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

.center, .section {
  text-align: center; }

.margin-center {
  margin: 0 auto; }

.clear-fix {
  clear: both; }

.hide {
  display: none; }

.block {
  display: block; }

body {
  background-color: #4A90E2;
  color: #FFF;
  font-family: 'Roboto-Regular'; }

@keyframes blink {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }

@keyframes spin {
  50% {
    -webkit-transform: rotateY(360deg); } }

.center, .section {
  text-align: center; }

.margin-center {
  margin: 0 auto; }

.clear-fix {
  clear: both; }

.hide {
  display: none; }

.block {
  display: block; }

.section {
  margin-top: 50px; }

.home__text {
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .home__text {
      padding: 60px; } }

.home__check-weather {
  position: relative;
  bottom: 6px;
  padding: 10px 15px;
  transition: bottom 0.2s;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #FFF;
  color: #434343;
  font-size: 1.1rem;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5); }
  .home__check-weather:hover {
    bottom: 4px; }

.locating {
  padding-top: 150px; }
  .locating__text {
    color: #FFF;
    font-size: 1.6rem; }
    .locating__text .dot {
      font-size: 30px;
      animation-name: blink;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-fill-mode: both; }
    .locating__text .dot:nth-child(2) {
      animation-delay: 0.2s; }
    .locating__text .dot:nth-child(3) {
      animation-delay: 0.4s; }
  .locating__icon {
    width: 61.45px;
    animation: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite; }
    .locating__icon path {
      fill: #FFF; }

.weather {
  max-width: 300px;
  margin: 150px auto;
  padding: 30px 10px;
  border-radius: 5px;
  background-color: #FFF;
  color: #000;
  font-weight: 100;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5); }
  .weather__city {
    font-size: 1rem;
    font-weight: inherit;
    letter-spacing: 0.2px; }
    .weather__city:hover {
      color: #666666; }
  .weather__phrase {
    padding: 20px;
    font-style: italic;
    font-weight: 300; }

.weather-resume {
  padding: 0 70px; }
  .weather-resume__icon {
    float: right;
    font-size: 30px; }

.temperature {
  padding-top: 2px;
  float: left;
  font-family: Roboto-Light;
  font-size: 23px;
  letter-spacing: 0; }
  .temperature_high {
    color: #D7360A; }
    .temperature_high .temperature__scale:hover {
      color: #8e2407;
      cursor: pointer; }
  .temperature_low {
    color: #4A90E2; }
    .temperature_low .temperature__scale:hover {
      color: #1f69c1;
      cursor: pointer; }
  .temperature > span {
    float: left; }
